body {
  background-color: lightblue;
}

.App .container {
  max-width: 800px;
}

.App header {
  margin: 30px 0;
}

.App h1 {
  font-size: 35px;
  font-weight: bold;
}

.App footer {
  color: black;
  font-weight: 500;
  margin: 30px 0;
  text-align: center;
}

.App a {
  color: black;
  text-decoration: none;
}

@media (max-width: 600px) {
  .App h1 {
    font-size: 25px;
  }
}
